.quiz-card {
  background: #f1f5f9;
  border-radius: 12px;
  border: 1px solid #ddd;
  padding: 30px;
  width: 90%;
  max-width: 550px;
  color: #000;
  text-align: center;
  font-family: Inter, sans-serif;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.quiz-question {
  font-size: 1.4rem;
  margin-bottom: 20px;
  font-weight: 600;
}

.quiz-option {
  padding: 14px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 12px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
  background: #fff;
}

.quiz-option:hover:not(:disabled) {
  transform: scale(1.03);
  font-size: 1.1rem;
  background: #fff;
}

.quiz-option.correct {
  background-color: #4caf50;
  color: #fff;
  border-color: #4caf50;
}

.quiz-option.incorrect {
  background-color: #c62828;
  color: #fff;
  border-color: #c62828;
}

.quiz-result-box {
  margin-top: 14px;
  background: #f5f5f5;
  padding: 10px;
  border-radius: 6px;
}

.correct-text {
  color: #44eb9a;
}

.incorrect-text {
  color: #e67654;
}

.quiz-explanation {
  margin-top: 5px;
  font-family: "Courier New", monospace;
  color: #333;
  font-size: 1.1rem;
}

.quiz-next-btn,
.quiz-restart-btn {
  margin-top: 20px;
  background-color: #000;
  color: #fff;
  padding: 10px 24px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.quiz-next-btn:hover {
  background-color: #ffa726;
}

.quiz-restart-btn:hover {
  background-color: #76ff03;
}

.quiz-summary {
  color: #000;
}
