.container{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login-container {
  display: flex;
  flex-direction: column;
  width: 420px;
  background: black;
  padding: 3rem;
  border: 1px solid snow;
  border-radius: 12px;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.12);
  text-align: center;
}


.login-container h1 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 600;
  color: white;
}

.input-group {
  text-align: left;
  margin-bottom: 1.2rem;
  width: 93%;
}

.input-group label {
  display: block;
  margin-bottom: 8px;
  font-size: 18px;
  color: #ffffff;
}

.input-group input {
  width: 100%;
  padding: 14px;
  font-size: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.2s;
}

.input-group input:focus {
  border-color: #007bff;
  box-shadow: 0px 0px 4px rgba(0, 123, 255, 0.4);
}

.btn {
  width: 100%;
  padding: 12px;
  background: #007bff;
  color: #fff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 1rem;
  transition: 0.2s;
}

.btn:hover {
  background: #005ec2;
}

.redirect-text {
  cursor: pointer;
  color: #ffffff;
  margin-top: 1rem;
  font-size: 14px;
}

#signup{
  font-size: 17px;
  color: #f5ffbd;
}

.redirect-text a {
  text-decoration: none;
}

.redirect-text a:hover {
  text-decoration: underline;
  color: white;
}
