
.signup-container {
  width: 420px;
  background: #ffffff;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.12);
  text-align: center;
}

.signup-container h1 {
  margin-bottom: 1.5rem;
  font-size: 26px;
  font-weight: 600;
  color: #333;
}

.input-group {
  text-align: left;
  margin-bottom: 1.2rem;
}

.input-group label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  color: #444;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 15px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.2s;
}

.input-group input:focus {
  border-color: #007bff;
  box-shadow: 0px 0px 4px rgba(0, 123, 255, 0.4);
}

.btn {
  width: 100%;
  padding: 12px;
  background: #007bff;
  color: #fff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-top: 1rem;
  transition: 0.2s;
}

.btn:hover {
  background: #005ec2;
}

.redirect-text {
    cursor: pointer;
  color: #c90000;
  margin-top: 1rem;
  font-size: 14px;
}

.redirect-text a {
  text-decoration: none;
}

.redirect-text a:hover {
  text-decoration: underline;
}
